.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:400px;
    height: 300px;
    background-color: rgb(227, 29, 151);
    margin-left:150px;
    margin-top:50px;
  
}

.container-position{
   display:flex;
   flex-direction: row;
   gap:6px;
    margin-top: 2px;
    margin-left: 80px;
}


.container-button{
    margin-top: 30px;
    margin-left: 100px;
    border-bottom:2px dotted grey;
    padding:10px;
    background-color: transparent;
    border:none;
    justify-content: center;
}
h3{
    color:white;
    text-align: center;
}
button{
    background-color: rgb(61, 188, 163);
    border-radius: 8px;
    border:2px solid magenta;
    padding:5px;

}